.navBar {
  display: flex;
  flex-direction: column;
  width: 228px;
  height: calc(100 - 90px);
  padding: 10px 10px;
  background-color: $grayDark;
  .logo {
    padding: 1.5rem 0.8rem;
    svg {
      max-width: 130px;
      p {
        fill: white;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $grayText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:active {
        background-color: $grayLight;
      }
      &:hover {
        color: white;
      }
    }
    .active {
      background-color: $grayLight;
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $grayText;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    span {
      display: block;
    }
  }
}
