@import "config";
@import "card";

.App {
  height: calc(100vh - 90px);
  background-color: $gray;
  display: flex;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 228px;
  height: 100%;
  padding: 10px 10px;
  background-color: $grayDark;
  .logo {
    padding: 1.5rem 0.8rem;
    svg {
      max-width: 130px;
      p {
        fill: white;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $grayText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:active {
        background-color: $grayLight;
      }
      &:hover {
        color: white;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $grayText;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    span {
      display: block;
    }
  }
}
.outerWrap {
  height: 100vh;
  min-height: 100%;
  background-color: $grayDark;
}

.musicControls {
  background-color: $grayLight;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.upperNav {
  background-color: $grayNav;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}
.main {
  width: 100%;
}

.mainContent {
  color: white;
  padding: 1.5rem 2rem;
  h1 {
    font-size: 1.8rem;
  }
}
