@import "config";

.App {
  height: calc(100vh - 90px);
  font-family: $Book;
  background-color: $gray;
  display: flex;
}

.outerWrap {
  height: 100vh;
  min-height: 100%;
  background-color: $grayDark;
}

@import "card";
@import "nav";
@import "main";
@import "musicControls";
